name: version

on:
  push:
    branches:
      - main

jobs:
  version:
    if: github.event.commits[0].author.name != 'semantic-release'

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # semantic-release needs access to all previous commits
          token: ${{ secrets.PAT }}

      - name: Semantic Release Version
        uses: python-semantic-release/python-semantic-release@v8.3.0
        with:
          github_token: ${{ secrets.PAT }}
          git_committer_name: semantic-release
          git_committer_email: <>
